* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Zalando Sans Expanded";
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header", "main", "footer";
  position: relative;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(35, 35, 35);
  color: white;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .box-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 420px;
  background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.152), transparent);
  color: white;
  padding: 20px;
  border-radius: 12px;
  height: 70%;
}
header .box-1 .container {
  height: 60px;
  width: 20%;
  border-radius: 50%;
}
header .box-1 .container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
  background-color: grey;
  border-radius: 50%;
}
header .box-2 {
  width: 520px;
  background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.152), transparent);
  color: white;
  border-radius: 12px;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}
header .box-2 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 100%;
}
header .box-2 ul li {
  cursor: pointer;
  font-size: 14px;
  -webkit-backdrop-filter: blur(5);
  backdrop-filter: blur(5);
}
header .box-2 ul li a:link {
  color: white;
  text-decoration: none;
}
header .box-2 ul li a:visited {
  color: white;
}
header .box-2 ul li a:active {
  color: white;
  font-weight: 800;
}

main {
  grid-area: main;
  height: 100%;
}
main .main-container {
  background-image: url("/Portfolio/image/bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 850px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4%;
}
main .main-container h1 {
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
}
main .main-container .text {
  width: 47%;
  text-align: center;
}
main .main-container .text p {
  line-height: 1.6rem;
}
main .main-container .project {
  width: 190px;
  height: 60px;
}
main .main-container .project button {
  height: 100%;
  width: 100%;
  border-radius: 13px;
  border: none;
  text-transform: uppercase;
  font-weight: 70;
  font-size: 16px;
  color: white;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0.2rem;
  transition: all 0.1s linear;
  cursor: pointer;
}
main .main-container .project button:hover {
  box-shadow: 2px 2px 12px grey;
  transform: translateY(-5px);
}
main .main-container .socials {
  background-color: white;
  position: absolute;
  left: 0;
  transform: translateY(10px);
  height: 253px;
  width: 60px;
  border-radius: 0 12px 12px 0;
}
main .main-container .socials img {
  width: 40px;
  display: block;
  margin: 20px auto;
}
main .second-container {
  height: 900px;
  width: 100%;
  padding: 70px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4%;
  background-color: rgb(243, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
main .second-container .container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  gap: 50px;
}
main .second-container .container-1 span {
  width: 30px;
  border: 3px solid grey;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
main .second-container .container-1 h1 {
  transform: translateY(0px);
  cursor: pointer;
}
main .second-container .container-1 h1:hover + span {
  width: 100px;
  border-color: rgb(35, 35, 35);
}
main .second-container .container-1 p {
  width: 70%;
  text-align: center;
}
main .second-container .container-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .second-container .container-2 h3 {
  margin-bottom: 40px;
}
main .second-container .container-2 .get_to_know_me {
  width: 40%;
  height: 500px;
}
main .second-container .container-2 .get_to_know_me p {
  line-height: 1.5rem;
  font-size: 15px;
}
main .second-container .container-2 .get_to_know_me button {
  width: 190px;
  height: 60px;
  border-radius: 13px;
  border: none;
  text-transform: uppercase;
  font-weight: 70;
  font-size: 16px;
  color: white;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0.2rem;
  transform: translateY(20px);
  transition: all 0.1s linear;
  cursor: pointer;
}
main .second-container .container-2 .get_to_know_me button:hover {
  box-shadow: 2px 2px 12px grey;
  transform: translateY(15px);
}
main .second-container .container-2 .skills {
  width: 40%;
  height: 500px;
}
main .second-container .container-2 .skills .box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
main .second-container .container-2 .skills .box p {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.471);
  margin: 20px;
  padding: 20px;
  font-size: 15px;
  color: black;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .second-container .container-2 .skills .box p:nth-child(1):hover {
  background-color: orange;
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(2):hover {
  background-color: yellow;
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(3):hover {
  background-color: rgb(64, 64, 255);
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(4):hover {
  background-color: rgb(255, 118, 141);
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(5):hover {
  background-color: red;
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(6):hover {
  background-color: black;
  box-shadow: 2px 2px 12px grey;
  color: white;
}
main .second-container .container-2 .skills .box p:nth-child(7):hover {
  background-color: greenyellow;
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:last-child:hover {
  background-color: blue;
  box-shadow: 2px 2px 12px grey;
}
main .third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 70px 50px;
  gap: 4%;
  background-color: rgba(204, 204, 204, 0.575);
  gap: 50px;
  height: 900px;
}
main .third-container .upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  gap: 50px;
}
main .third-container .upper-container span {
  width: 30px;
  border: 3px solid grey;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
main .third-container .upper-container h1 {
  transform: translateY(0px);
  cursor: pointer;
}
main .third-container .upper-container h1:hover + span {
  width: 100px;
  border-color: rgb(35, 35, 35);
}
main .third-container .upper-container p {
  width: 70%;
  text-align: center;
}
main .third-container .examples .sample_1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .third-container .examples .sample_1 figure {
  width: 40%;
  height: 500px;
}
main .third-container .examples .sample_1 figure img {
  filter: drop-shadow(12px 12px 10px rgb(62, 62, 62));
}
main .third-container .examples .sample_1 .content {
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}
main .third-container .examples .sample_1 .content p {
  line-height: 1.5rem;
}
main .third-container .examples .sample_1 .content button {
  height: 60px;
  border-radius: 13px;
  border: none;
  text-transform: uppercase;
  font-weight: 70;
  font-size: 16px;
  color: white;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0.2rem;
  width: 190px;
  transition: all 0.1s linear;
  cursor: pointer;
}
main .third-container .examples .sample_1 .content button:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 12px grey;
}
main .fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 70px 50px;
  gap: 4%;
  background-color: lightgrey;
  gap: 50px;
  height: 1000px;
}
main .fourth-container .upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  gap: 50px;
}
main .fourth-container .upper-container span {
  width: 30px;
  border: 3px solid grey;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
main .fourth-container .upper-container h1 {
  transform: translateY(0px);
  cursor: pointer;
}
main .fourth-container .upper-container h1:hover + span {
  width: 100px;
  border-color: rgb(35, 35, 35);
}
main .fourth-container .upper-container p {
  width: 70%;
  text-align: center;
}
main .fourth-container .forms {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .fourth-container .forms form {
  height: 100%;
  width: 80%;
  background-color: white;
  padding: 40px;
  border-radius: 7px;
  box-shadow: 2px 2px 12px grey;
}
main .fourth-container .forms form label {
  font-size: 20px;
}
main .fourth-container .forms form input, main .fourth-container .forms form textarea {
  outline: none;
}
main .fourth-container .forms form .Name {
  height: 5rem;
  margin-bottom: 25px;
}
main .fourth-container .forms form .Name input {
  width: 100%;
  height: 70%;
  line-height: 2rem;
  background-color: lightgrey;
  border: none;
  border-radius: 12px;
  padding: 0 20px;
}
main .fourth-container .forms form .Email {
  height: 5rem;
  margin-bottom: 25px;
}
main .fourth-container .forms form .Email input {
  width: 100%;
  height: 70%;
  line-height: 2rem;
  background-color: lightgrey;
  border: none;
  border-radius: 12px;
  padding: 0 20px;
}
main .fourth-container .forms form .Message {
  height: 15rem;
  margin-bottom: 25px;
}
main .fourth-container .forms form .Message textarea {
  width: 100%;
  height: 90%;
  line-height: 2rem;
  resize: none;
  background-color: lightgrey;
  border: none;
  border-radius: 12px;
  padding: 20px;
}
main .fourth-container .forms form .Button {
  text-align: right;
}
main .fourth-container .forms form .Button input {
  height: 60px;
  border-radius: 13px;
  border: none;
  text-transform: uppercase;
  font-weight: 70;
  font-size: 16px;
  color: white;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0.2rem;
  width: 190px;
  cursor: pointer;
  transition: all 0.1s linear;
}
main .fourth-container .forms form .Button input:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 12px grey;
}/*# sourceMappingURL=index.css.map */