* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Zalando Sans Expanded";
  position: relative;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(35, 35, 35);
  color: white;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  animation: Header 1 both;
  animation-timeline: scroll();
  animation-range: 480px 100%; /* -> bottom */
}
header .box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 420px;
  background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.152), transparent);
  color: white;
  padding: 20px;
  border-radius: 12px;
  height: 70%;
  animation: Box_1 1 both;
  animation-timeline: view();
  animation-range: 10px 100%;
}
header .box-1 .container {
  height: 60px;
  width: 20%;
  border-radius: 50%;
}
header .box-1 .container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
  background-color: grey;
  border-radius: 50%;
}
header .box-2 {
  width: 520px;
  background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.152), transparent);
  color: white;
  border-radius: 12px;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  transition: all 0.5s linear;
  animation: Box_2 1 both;
  animation-timeline: view();
  animation-range: 10px 100%; /* -> bottom */
}
header .box-2 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 100%;
}
header .box-2 ul li {
  cursor: pointer;
  font-size: 14px;
  -webkit-backdrop-filter: blur(5);
  backdrop-filter: blur(5);
}
header .box-2 ul li a:link {
  color: white;
  text-decoration: none;
}
header .box-2 ul li a:visited {
  color: white;
}
header .box-2 ul li a:active {
  color: white;
  font-weight: 800;
}
header .box-3 {
  width: 50%;
  height: 4rem;
  text-align: right;
  line-height: 6rem;
  padding-right: 20px;
  display: none;
}
header .box-3 button {
  background-color: transparent;
  color: white;
  border: none;
}
header .box-3 button img {
  width: 40px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 5px;
}
header .Menu {
  display: none;
  position: absolute;
  top: 64px;
  right: 0px;
  width: 100%;
  opacity: 0;
  animation: opa 0.3s linear 0s 1 forwards;
}
header .Menu a:link {
  color: white;
  text-decoration: none;
  margin-right: 23px;
}
header .Menu a:visited {
  color: white;
}
header .Menu ul {
  list-style-type: none;
  text-align: right;
  line-height: 3rem;
  font-size: 13px;
}
header .Menu ul li {
  background-color: rgb(35, 35, 35);
  border-width: 0px 0 1px 0;
  border-color: white;
  border-style: solid;
}
header .Menu ul li:first-child {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: white;
}
@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  height: 100%;
  width: 100%;
}
main .main-container {
  background-image: url("/Portfolio/image/bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 850px;
  width: 100%;
  padding: 50px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4%;
}
main .main-container h1 {
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
  animation-name: header;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-direction: normal;
}
main .main-container .text {
  width: 47%;
  text-align: center;
  animation-name: main_container_text;
  animation-duration: 0.5s;
  animation-delay: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-direction: normal;
}
main .main-container .text p {
  line-height: 1.6rem;
}
main .main-container .project {
  width: 190px;
  height: 60px;
  animation-name: main_container_button;
  animation-duration: 0.3s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: normal;
}
main .main-container .project button {
  height: 100%;
  width: 100%;
  border-radius: 13px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0.2rem;
  transition: all 0.1s linear;
  cursor: pointer;
}
main .main-container .project button:hover {
  box-shadow: 2px 2px 12px grey;
  transform: translateY(-5px);
}
main .main-container .socials {
  background-color: white;
  position: absolute;
  left: 0;
  transform: translateY(10px);
  height: 253px;
  width: 60px;
  border-radius: 0 12px 12px 0;
  animation-name: side_social;
  animation-delay: 0s;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-direction: normal;
}
main .main-container .socials img {
  width: 40px;
  display: block;
  margin: 20px auto;
}
main .second-container {
  height: 100%;
  width: 100%;
  padding: 30px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 4%;
  background-color: rgb(243, 242, 242);
  gap: 30px;
}
main .second-container .container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25%;
  gap: 30px;
}
main .second-container .container-1 span {
  width: 30px;
  border: 3px solid grey;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
main .second-container .container-1 h1 {
  transform: translateY(0px);
  cursor: pointer;
  animation-name: second_container_header;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-direction: forwards;
  animation-timing-function: linear;
  animation-timeline: view();
  animation-range: 1% 20%; /* -> end*/
}
main .second-container .container-1 h1:hover + span {
  width: 100px;
  border-color: rgb(35, 35, 35);
}
main .second-container .container-1 p {
  width: 70%;
  text-align: center;
  animation-name: second_container_text;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: 1% 20%;
}
main .second-container .container-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .second-container .container-2 h3 {
  margin-bottom: 40px;
}
main .second-container .container-2 .get_to_know_me {
  width: 40%;
  height: 500px;
  animation: left 1.5s linear 0s both;
  animation-timeline: view();
  animation-range: 15% 35%;
}
main .second-container .container-2 .get_to_know_me p {
  line-height: 1.5rem;
  font-size: 15px;
}
main .second-container .container-2 .get_to_know_me button {
  width: 190px;
  height: 60px;
  border-radius: 13px;
  border: none;
  text-transform: uppercase;
  font-weight: 70;
  font-size: 16px;
  color: white;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0.2rem;
  transform: translateY(20px);
  transition: all 0.1s linear;
  cursor: pointer;
}
main .second-container .container-2 .get_to_know_me button:hover {
  box-shadow: 2px 2px 12px grey;
  transform: translateY(15px);
}
main .second-container .container-2 .skills {
  width: 40%;
  height: 500px;
  animation: right 1.5s linear 0s both;
  animation-timeline: view();
  animation-range: 15% 35%;
}
main .second-container .container-2 .skills .box p {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.471);
  margin: 10px;
  padding: 20px;
  font-size: 12px;
  color: black;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: auto;
  white-space: nowrap;
  float: left;
}
main .second-container .container-2 .skills .box p:nth-child(1) {
  animation: one 1s linear 0s both;
  animation-timeline: view();
  animation-range: 5% 30%;
}
main .second-container .container-2 .skills .box p:nth-child(1):hover {
  background-color: orange;
  box-shadow: 2px 2px 12px grey;
  width: auto;
}
main .second-container .container-2 .skills .box p:nth-child(2) {
  animation: two 6s linear 6s both;
  animation-timeline: view();
  animation-range: 5% 30%;
}
main .second-container .container-2 .skills .box p:nth-child(2):hover {
  background-color: yellow;
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(3) {
  animation: three 12s linear 12s both;
  animation-timeline: view();
  animation-range: 5% 30%;
}
main .second-container .container-2 .skills .box p:nth-child(3):hover {
  background-color: rgb(64, 64, 255);
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(4) {
  animation: four 18s linear 18s both;
  animation-timeline: view();
  animation-range: 5% 30%;
}
main .second-container .container-2 .skills .box p:nth-child(4):hover {
  background-color: rgb(255, 118, 141);
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(5) {
  animation: five 24s linear 24s both;
  animation-timeline: view();
  animation-range: 5% 30%;
}
main .second-container .container-2 .skills .box p:nth-child(5):hover {
  background-color: red;
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:nth-child(6) {
  animation: six 30s linear 30s both;
  animation-timeline: view();
  animation-range: 5% 30%;
}
main .second-container .container-2 .skills .box p:nth-child(6):hover {
  background-color: black;
  box-shadow: 2px 2px 12px grey;
  color: white;
}
main .second-container .container-2 .skills .box p:nth-child(7) {
  animation: seven 36s linear 36s both;
  animation-timeline: view();
  animation-range: 5% 30%;
}
main .second-container .container-2 .skills .box p:nth-child(7):hover {
  background-color: greenyellow;
  box-shadow: 2px 2px 12px grey;
}
main .second-container .container-2 .skills .box p:last-child {
  animation: eight 42s linear 42s both;
  animation-timeline: view();
  animation-range: 5% 30%;
}
main .second-container .container-2 .skills .box p:last-child:hover {
  background-color: blue;
  box-shadow: 2px 2px 12px grey;
}
main .third-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px 15px;
  gap: 4%;
  background-color: rgba(204, 204, 204, 0.575);
  gap: 30px;
  height: 100%;
}
main .third-container .upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25%;
  gap: 30px;
}
main .third-container .upper-container span {
  width: 30px;
  border: 3px solid grey;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
main .third-container .upper-container h1 {
  transform: translateY(0px);
  cursor: pointer;
  animation: third_container_header 0.5s linear 0s 1 both;
  animation-timeline: view();
  animation-range: 1% 20%;
}
main .third-container .upper-container h1:hover + span {
  width: 100px;
  border-color: rgb(35, 35, 35);
}
main .third-container .upper-container p {
  width: 70%;
  text-align: center;
  animation: third_container_text 0.5s linear 0s 1 both;
  animation-timeline: view();
  animation-range: 1% 20%;
}
main .third-container .examples .sample_1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .third-container .examples .sample_1 figure {
  width: 40%;
  height: auto;
  animation: one_image 1.5s linear 0s 1 both;
  animation-timeline: view();
  animation-range: 15% 35%;
}
main .third-container .examples .sample_1 figure img {
  filter: drop-shadow(12px 12px 10px rgb(62, 62, 62));
  width: 100%;
  height: auto;
}
main .third-container .examples .sample_1 .content {
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px;
  animation: one_text 1.5s linear 0s 1 both;
  animation-timeline: view();
  animation-range: 15% 35%;
}
main .third-container .examples .sample_1 .content p {
  line-height: 1.5rem;
}
main .third-container .examples .sample_1 .content button {
  height: 60px;
  border-radius: 13px;
  border: none;
  text-transform: uppercase;
  font-weight: 70;
  font-size: 16px;
  color: white;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0.2rem;
  width: 190px;
  transition: all 0.1s linear;
  cursor: pointer;
  padding: 20px;
}
main .third-container .examples .sample_1 .content button:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 12px grey;
}
main .fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 70px 15px;
  gap: 4%;
  background-color: lightgrey;
  gap: 20px;
  height: 100%;
}
main .fourth-container .upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25%;
  gap: 20px;
}
main .fourth-container .upper-container span {
  width: 30px;
  border: 3px solid grey;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
main .fourth-container .upper-container h1 {
  transform: translateY(0px);
  cursor: pointer;
  animation: fourth_container_header 0.5s linear 0s 1 both;
  animation-timeline: view();
  animation-range: 1% 20%;
}
main .fourth-container .upper-container h1:hover + span {
  width: 100px;
  border-color: rgb(35, 35, 35);
}
main .fourth-container .upper-container p {
  width: 70%;
  text-align: center;
  animation: fourth_container_text 0.5s linear 0s 1 both;
  animation-timeline: view();
  animation-range: 1% 20%;
}
main .fourth-container .forms {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: form 3.5s linear 0s 1 both;
  animation-timeline: view();
  animation-range: 1% 30%;
}
main .fourth-container .forms form {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 40px;
  border-radius: 7px;
  box-shadow: 2px 2px 12px grey;
}
main .fourth-container .forms form label {
  font-size: 20px;
}
main .fourth-container .forms form input, main .fourth-container .forms form textarea {
  outline: none;
}
main .fourth-container .forms form .Name {
  height: 5rem;
  margin-bottom: 25px;
}
main .fourth-container .forms form .Name input {
  width: 100%;
  height: 70%;
  line-height: 2rem;
  background-color: lightgrey;
  border: none;
  border-radius: 12px;
  padding: 0 20px;
}
main .fourth-container .forms form .Email {
  height: 5rem;
  margin-bottom: 25px;
}
main .fourth-container .forms form .Email input {
  width: 100%;
  height: 70%;
  line-height: 2rem;
  background-color: lightgrey;
  border: none;
  border-radius: 12px;
  padding: 0 20px;
}
main .fourth-container .forms form .Message {
  height: 15rem;
  margin-bottom: 25px;
}
main .fourth-container .forms form .Message textarea {
  width: 100%;
  height: 90%;
  line-height: 2rem;
  resize: none;
  background-color: lightgrey;
  border: none;
  border-radius: 12px;
  padding: 20px;
}
main .fourth-container .forms form .Button {
  text-align: right;
}
main .fourth-container .forms form .Button input {
  height: 60px;
  border-radius: 13px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0.2rem;
  width: 190px;
  cursor: pointer;
  transition: all 0.1s linear;
}
main .fourth-container .forms form .Button input:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 12px grey;
}

footer {
  height: 100%;
  grid-area: footer;
  background-color: rgb(35, 35, 35);
  padding: 50px 20px;
}
footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  color: white;
}
footer .container .context {
  width: 50%;
  height: 150px;
}
footer .container .context p {
  font-size: 14px;
  line-height: 1.3rem;
}
footer .container .social {
  width: 50%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
}
footer .container .social .box {
  max-width: 45%;
}
footer .container .social .box .links {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}
footer .container .social .box .links img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
footer .container h2 {
  margin-bottom: 20px;
}
footer hr {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 0.1px solid white;
  opacity: 0.2;
}
footer #right {
  display: block;
  color: white;
  margin: 20px auto;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}
footer #right a:link {
  text-decoration: underline;
  color: white;
}
footer #right a:visited {
  color: white;
}

@media screen and (max-width: 1441px) and (min-width: 1921px) {
  header {
    height: 5rem;
    width: 100%;
    padding: 0 5px 0 5px;
  }
  header .box-1 {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  header .box-1 h4 {
    font-size: 16px;
  }
  header .box-1 .container {
    height: 55px;
    width: 5%;
  }
  header .box-2 {
    width: 40%;
  }
  main .main-container {
    height: 850px;
  }
  main .main-container h1 {
    text-align: center;
    padding: 0;
    letter-spacing: 0;
  }
  main .second-container {
    height: 100%;
  }
  main .third-container {
    height: 100%;
  }
  main .third-container figure {
    width: 100%;
    height: 100%;
  }
  main .third-container figure img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
  header {
    height: 5rem;
    width: 100%;
    padding: 0 5px 0 5px;
  }
  header .box-1 {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  header .box-1 h4 {
    font-size: 16px;
  }
  header .box-1 .container {
    height: 55px;
    width: 16%;
  }
  header .box-2 {
    width: 40%;
  }
  main .main-container {
    height: 850px;
  }
  main .main-container h1 {
    text-align: center;
    padding: 0;
    letter-spacing: 0;
  }
  main .second-container {
    height: 1000px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
  }
  header .box-1 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  header .box-1 h4 {
    font-size: 15px;
  }
  header .box-1 .container {
    height: 55px;
    width: 16%;
  }
  header .box-2 {
    width: 40%;
  }
  main .main-container {
    height: 850px;
  }
  main .main-container h1 {
    text-align: center;
    padding: 0;
    letter-spacing: 0;
  }
  main .main-container .text {
    width: 75%;
  }
  main .main-container .socials {
    width: 50px;
  }
  main .second-container {
    height: 1000px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 4.5rem;
    width: 100%;
    padding: 0 5px 0 5px;
  }
  header .box-1 {
    width: 42%;
  }
  header .box-1 h4 {
    font-size: 13px;
  }
  header .box-1 .container {
    height: 50px;
    width: 18.5%;
  }
  header .box-2 {
    width: 43%;
  }
  header .box-2 a {
    font-size: 12px;
  }
  main .main-container {
    height: 850px;
  }
  main .main-container .text {
    width: 100%;
  }
  main .main-container .socials {
    display: none;
  }
  main .second-container {
    height: 950px;
  }
  main .second-container .container-2 {
    flex-direction: column;
  }
  main .second-container .container-2 h3 {
    margin-bottom: 20px;
  }
  main .second-container .container-2 .get_to_know_me {
    width: 100%;
  }
  main .second-container .container-2 .get_to_know_me p {
    font-size: 12px;
  }
  main .second-container .container-2 .skills {
    width: 100%;
    height: 200px;
  }
  main .second-container .container-2 .skills p {
    padding: 10px 20px;
    margin: 0 auto;
  }
  main .third-container .sample_1 {
    flex-direction: column;
    gap: 10px;
  }
  main .third-container .sample_1 figure img {
    width: 100%;
    height: auto;
  }
  main .third-container .sample_1 .content {
    min-width: 100%;
    text-align: center;
  }
  main .third-container .sample_1 .content button {
    display: block;
    margin: 0 auto;
  }
  main .fourth-container .forms {
    width: 100%;
  }
  main .fourth-container .forms form {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  footer .container {
    width: 100%;
  }
  footer .container .context {
    width: 60%;
  }
  footer .container .context p {
    font-size: 11px;
    line-height: 1.3rem;
  }
  footer .container .social .box {
    max-width: 50%;
  }
  footer .container .social .box .links {
    height: 50px;
  }
  footer .container .social .box .links img {
    width: 70%;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .box-1 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  header .box-1 h4 {
    font-size: 12px;
  }
  header .box-1 .container {
    height: 40px;
    width: 19%;
  }
  header .box-2 {
    display: none;
  }
  header .box-3 {
    display: block;
    margin: 0 auto;
  }
  header .box-3 ul {
    padding-right: 20px;
  }
  main {
    width: 100%;
  }
  main .main-container {
    width: 100%;
    height: 850px;
  }
  main .main-container h1 {
    font-size: 26px;
    text-align: center;
    line-height: 3rem;
    word-spacing: 0.5rem;
  }
  main .main-container .text {
    width: 100%;
    font-size: 14px;
  }
  main .main-container .socials {
    display: none;
  }
  main .second-container {
    height: 100%;
  }
  main .second-container .container-1 p {
    width: 100%;
    font-size: 12px;
  }
  main .second-container .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-evenly;
    height: 100%;
  }
  main .second-container .container-2 h3 {
    margin-bottom: 20px;
  }
  main .second-container .container-2 .get_to_know_me {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  main .second-container .container-2 .get_to_know_me p {
    font-size: 12px;
  }
  main .second-container .container-2 .get_to_know_me button {
    width: 120px;
    height: 50px;
    font-size: 12px;
    font-weight: bold;
  }
  main .second-container .container-2 .skills {
    width: 100%;
    height: 200px;
    padding: 20px;
  }
  main .second-container .container-2 .skills p {
    font-size: 10px !important;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .third-container .upper-container p {
    width: 100%;
    font-size: 14px;
  }
  main .third-container .sample_1 {
    flex-direction: column;
    gap: 10px;
  }
  main .third-container .sample_1 figure img width {
    width: 100%;
    height: 100%;
  }
  main .third-container .sample_1 .content {
    min-width: 100%;
    text-align: center;
  }
  main .third-container .sample_1 .content p {
    font-size: 12px;
  }
  main .third-container .sample_1 .content button {
    display: block;
    margin: 0 auto;
  }
  main .third-container .sample_1 .content #butt {
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    height: 50px;
  }
  main .fourth-container .upper-container p {
    width: 100;
    font-size: 14px;
  }
  main .fourth-container .forms {
    width: 70%;
  }
  main .fourth-container .forms form {
    width: 100%;
    height: auto;
  }
  main .fourth-container .forms form label {
    font-size: 13px;
  }
  main .fourth-container .forms form .Button input {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 50px;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  footer .container {
    width: 100%;
    margin: 0 0;
    gap: 0;
    flex-direction: column;
  }
  footer .container .context {
    width: 100%;
  }
  footer .container .context p {
    font-size: 11px;
  }
  footer .container .social {
    width: 100%;
    justify-content: flex-start;
  }
  footer .container .social .box .links {
    height: 50px;
    width: 100%;
  }
  footer .container .social .box .links img {
    width: 55%;
    height: auto;
  }
  footer hr {
    width: 100%;
  }
  footer #right {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .box-1 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  header .box-1 h4 {
    font-size: 12px;
  }
  header .box-1 .container {
    height: 40px;
    width: 19%;
  }
  header .box-2 {
    display: none;
  }
  header .box-3 {
    display: block;
    margin: 0 auto;
  }
  header .box-3 ul {
    padding-right: 20px;
  }
  main {
    width: 100%;
  }
  main .main-container {
    width: 100%;
    height: 850px;
  }
  main .main-container h1 {
    font-size: 26px;
    text-align: center;
    line-height: 3rem;
    word-spacing: 0.5rem;
  }
  main .main-container .text {
    width: 100%;
    font-size: 14px;
  }
  main .main-container .socials {
    display: none;
  }
  main .second-container {
    height: 100%;
    width: 100%;
  }
  main .second-container .container-1 p {
    width: 100%;
    font-size: 12px;
  }
  main .second-container .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-evenly;
    height: 100%;
  }
  main .second-container .container-2 h3 {
    margin-bottom: 20px;
  }
  main .second-container .container-2 .get_to_know_me {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  main .second-container .container-2 .get_to_know_me p {
    font-size: 11px;
  }
  main .second-container .container-2 .get_to_know_me button {
    width: 120px;
    height: 50px;
    font-size: 12px;
    font-weight: bold;
  }
  main .second-container .container-2 .skills {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  main .second-container .container-2 .skills p {
    font-size: 10px !important;
    height: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .third-container .upper-container p {
    width: 100%;
    font-size: 14px;
  }
  main .third-container .sample_1 {
    flex-direction: column;
    gap: 10px;
  }
  main .third-container .sample_1 figure img width {
    width: 100%;
    height: auto;
  }
  main .third-container .sample_1 .content {
    min-width: 100%;
    text-align: center;
  }
  main .third-container .sample_1 .content p {
    font-size: 12px;
  }
  main .third-container .sample_1 .content button {
    display: block;
    margin: 0 auto;
  }
  main .third-container .sample_1 .content #butt {
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    height: 50px;
  }
  main .fourth-container .upper-container p {
    width: 100;
    font-size: 14px;
  }
  main .fourth-container .forms {
    width: 100%;
  }
  main .fourth-container .forms form {
    width: 100%;
    height: auto;
  }
  main .fourth-container .forms form label {
    font-size: 15px;
  }
  main .fourth-container .forms form .Button input {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 50px;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  footer .container {
    width: 100%;
    margin: 0 0;
    gap: 0;
    flex-direction: column;
  }
  footer .container .context {
    width: 100%;
  }
  footer .container .context p {
    font-size: 11px;
  }
  footer .container .social {
    width: 100%;
    justify-content: flex-start;
  }
  footer .container .social .box .links {
    height: 50px;
    width: 100%;
  }
  footer .container .social .box .links img {
    width: 80%;
  }
  footer hr {
    width: 100%;
  }
  footer #right {
    font-size: 10px;
  }
}/*# sourceMappingURL=index.css.map */