*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@mixin p-flex($content){
    display:flex;
    justify-content: $content;
    align-items: center;
}
$bg-color:rgb(35, 35, 35);
body{
    position:relative;
}
main{

    .portfolio_second_container{
        height: 100%;

        figure{
            display: block;
            margin: 0 auto;
            height:35%;
            width:45%;
            background-color: rgba(128, 128, 128, 0.233);
            box-shadow: 2px 2px 12px black;
            border-radius:12px;

            img{
                width:100%;
                height:100%;
                margin:0;
                padding:0;
                cursor:pointer;
            }
        }
        .card{
            position:fixed;
            top:0; left:0;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.692);
            backdrop-filter:blur(5px);
            -webkit-backdrop-filter:blur(5px);
            height: 100%;
            width: 100%;
            @include p-flex(center);
            flex-direction:column;
            gap:5%;
            display:flex;

            #eks{
                position:absolute;
                top:20px;
                right:20px;
                cursor:pointer;
                font-size: 30px;
                @include p-flex(center);
                transition: all 0.3s ease-in-out;
                width: 2.7%;
                height:5%;
                color:lightgrey;
            }
            #eks:hover{
                border-radius: 50%;
                color:white;
                
            }
            #eks:active{
                width: 2.7%;
                height:5%;
                background-color: grey;
            }

            .img{
                width:70%;
                height:70%;
                background-repeat:no-repeat;
                background-size: cover;
                background-position: center center;
                border-radius:7px;
            }
            .caption{
                width:50%;
                border-radius:7px;
                height:10%;
                @include p-flex(center);
                background-color: grey;
                h2{
                    font-size:60px;
                    color:white;
                }
            }
        }
        article{
            width:50%;
            margin:0 auto;
            .project_overview{
                margin:25px 0;
                h3{
                    margin-bottom:20px;
                }
                p{
                    line-height: 2rem;
                    color:rgb(83, 82, 82);
                }
            }
            .tools_used{
                margin:25px 0 30px;
                h3{
                    margin-bottom:20px;
                }
                p{
                   text-align: center;
                    background-color: rgba(128, 128, 128, 0.471);
                    margin:10px;
                    padding:20px;
                    font-size: 12px;
                    color:black;
                    border-radius:12px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    width:auto;
                    white-space: nowrap;
                    float:left;
                }
                 p:nth-child(1){
                    animation:one 1s linear 0s both;
                    animation-timeline: view();
                    animation-range:5% 20%;
                }
                p:nth-child(1):hover{
                    background-color: orange;
                    box-shadow: 2px 2px 12px grey;
                    width:auto;
                }
                p:nth-child(2){
                    animation:two 6s linear 6s both;
                    animation-timeline: view();
                    animation-range:5% 20%;
                }
                p:nth-child(2):hover{
                    background-color: yellow;
                    box-shadow: 2px 2px 12px grey;
                }
                p:nth-child(3){
                    animation:three 12s linear 12s both;
                    animation-timeline: view();
                    animation-range: 5% 20%;
                }
                p:nth-child(3):hover{
                    background-color: rgb(64, 64, 255);
                    box-shadow: 2px 2px 12px grey;
                }
                p:nth-child(4){
                    animation:four 18s linear 18s both;
                    animation-timeline: view();
                    animation-range: 5% 20%;
                }
                p:nth-child(4):hover{
                    background-color: rgb(255, 118, 141);
                    box-shadow: 2px 2px 12px grey;
                }
                p:nth-child(5){
                    animation:five 24s linear 24s both;
                    animation-timeline: view();
                    animation-range: 5% 20%;
                }
                p:nth-child(5):hover{
                    background-color: red;
                    box-shadow: 2px 2px 12px grey;
                }
                p:nth-child(6){
                    animation:six 30s linear 20s both;
                    animation-timeline: view();
                    animation-range: 5% 30%;
                }
                p:nth-child(6):hover{
                    background-color: black;
                    box-shadow: 2px 2px 12px grey;
                    color:white;
                }
                p:nth-child(7){
                    animation:seven 36s linear 36s both;
                    animation-timeline: view();
                    animation-range: 5% 30%;
                }
                p:nth-child(7):hover{
                    background-color: greenyellow;
                    box-shadow: 2px 2px 12px grey;
                }
                p:last-child{
                    animation:eight 42s linear 42s both;
                    animation-timeline: view();
                    animation-range: 5% 30%;
                }
                p:last-child:hover{
                    background-color: blue;
                    box-shadow: 2px 2px 12px grey;
                }
            }
            .see_lived{
                margin:25px 0;
                clear: left;
                display: block;
                transform: translateY(20px);
                h3{
                    margin-bottom:20px;
                    
                }
                .buttons{
                    button:nth-child(1){
                        height:60px;
                        border:none;
                        text-transform: uppercase;
                        font-weight: 70;
                        font-size: 16px;
                        color:white;
                        background-color: $bg-color;
                        letter-spacing: 0.2rem;
                        width:190px;
                        cursor: pointer;
                        border-radius: 13px;
                        transition:all 0.3s ease-in-out;
                    }
                    button:nth-child(1):hover{
                         box-shadow: 2px 2px 12px grey;
                         transform: translateY(-5px);
                         background-color: transparent;
                         border:2px solid $bg-color;
                         color:$bg-color;
                    }
                    button:nth-child(2){
                        height:60px;
                        border:2px solid $bg-color;
                        text-transform: uppercase;
                        font-weight: 70;
                        font-size: 16px;
                        color:$bg-color;
                        background-color: transparent;
                        letter-spacing: 0.2rem;
                        width:190px;
                        cursor:pointer;
                        border-radius:13px;
                        margin-left:15px;
                        transition:all 0.3s ease-in-out;
                    }
                    button:nth-child(2):hover{
                        box-shadow: 2px 2px 12px grey;
                        transform: translateY(-5px);
                        background-color: $bg-color;
                        color:white;
                    }
                }
            }
        }
        
        
    }
}

// Media

//loptops
@media screen and (max-width:1280px) and (min-width:1025px){
    main{
        .portfolio_second_container{
            height:1700px;
            figure{
                width:70%;
            }
            #Modal-box{
                .caption{
                    width:70%;
                }
            }
            article{
                width:80%;
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

// Tablet view port
@media screen and (max-width:1024px) and (min-width:767px){
    main{
        .portfolio_second_container{
            height: 1700px;
            figure{
                width:70%;
            }
            #Modal-box{
                .img{
                    background-size: 100% 100%;
                    width:80%;
                    height: 50%;
                }
                .caption{
                    width:80%;
                    h2{
                        font-size: 50px;
                    }
                }
            }
            article{
                width: 90%;
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

//Large phones
@media screen and (max-width:767px) and (min-width:637px){
    main{
        .portfolio_second_container{
            height: 1750px;
            figure{
                width: 70%;
            }
            #Modal-box{
                .img{
                    background-size: 100% 100%;
                    width:80%;
                    height: 50%;
                }
                .caption{
                    width:80%;
                    h2{
                        font-size: 40px;
                    }
                }
            }
            article{
                width: 90%;
                p{
                    font-size: 13px;
                }
            }
        }
    }

}

@media screen and (max-width:636px) and (min-width:479px){
    main{
        .portfolio_second_container{
            height: 1700px;
            figure{
                width:60%;
            }
            #Modal-box{
                .img{
                    background-size: 100% 100%;
                    width:90%;
                    height: 50%;
                }
                .caption{
                    width:90%;
                    h2{
                        font-size: 40px;
                    }
                }
            }
            article{
                width:100%;
                p{
                    font-size: 13px;
                }
                .see_lived{
                    .buttons{
                        button:nth-child(1),button:nth-child(2){
                            height: 50px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

// Normal phone
@media screen and (max-width:480px){
    main{
        .portfolio_second_container{
            height:1700px;
            figure{
                width:100%;
            }
            #Modal-box{
                .img{
                    background-size: 100% 100%;
                    width:95%;
                    height: 40%;
                }
                .caption{
                    width:95%;
                    h2{
                        font-size: 40px;
                    }
                }
            }
            article{
                width:100%;
                p{
                    font-size: 12px;
                }
                .see_lived{
                    .buttons{
                        button:nth-child(1),button:nth-child(2){
                            height: 50px;
                            font-size: 12px;
                            width:160px;
                        }
                    }
                }
            }
        }
    }
}

//My phone
@media screen and (min-width:374px) and (max-width:455px){
    main{
        .main-container{
            height: 850px;
        }
        .portfolio_second_container{
            height: 1900px;
            figure{
                width:100% !important;
                height: auto;
            }
            #Modal-box{
                .img{
                    background-size: 100% 100%;
                    width:95%;
                    height: 30%;
                }
                .caption{
                    width:95%;
                    h2{
                        font-size: 30px;
                    }
                }
            }
            article{
                p{
                    font-size: 11px;
                }
                .tools_used{
                    //     font-size:12px !important;
                    // p:nth-child(1),p:nth-child(2),p:nth-child(3),p:nth-child(4),p:nth-child(5),p:nth-child(6),p:nth-child(7){
                    // }
                    p{
                        font-size:8px !important;
                    }
                }
                .see_lived{
                    .buttons{
                        flex-wrap: wrap;
                        width:100%;
                        button{
                            width:90% !important;
                            display: block;
                            margin:10px auto;
                        }
                    }
                }
            }
        }
    }

    footer{
        .container{
            .context{
                margin-bottom:20px;
            }
        }
    }
}